In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/TCSMFrogdance/mrnamanalysis/main/buoi2/ketquaxettuyendaihoc.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 42 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      100 non-null    int64
 1   TOAN10          100 non-null    float64
 2   LY10            100 non-null    float64
 3   HOA10           100 non-null    float64
 4   SINH10          100 non-null    float64
 5   VAN10           100 non-null    float64
 6   SU10            100 non-null    float64
 7   DIA10           100 non-null    float64
 8   NGOAI NGU10     100 non-null    float64
 9   TOAN11          100 non-null    float64
 10  LY11            100 non-null    float64
 11  HOA11           100 non-null    float64
 12  SINH11          100 non-null    float64
 13  VAN11           100 non-null    float64
 14  SU11            100 non-null    float64
 15  DIA11           100 non-null    float64
 16  NGOAI NGU11     100 non-null    float64
 17  TOAN12          100 non-null    float64
 18  LY12            100 non-null    float64
 19  HOA12           100 non-null    float64
 20  SINH12          100 non-null    float64
 21  VAN12           100 non-null    float64
 22  SU12            100 non-null    float64
 23  DIA12           100 non-null    float64
 24  NGOAI NGU12     100 non-null    float64
 25  GIOI TINH       100 non-null    object
 26  DAN TOC         3 non-null      float64
 27  KHU VUC THI     100 non-null    object
 28  DIEM THI MON 1  100 non-null    float64
 29  DIEM THI MON 2  100 non-null    float64
 30  DIEM THI MON 3  100 non-null    float64
 31  KHOI THI        100 non-null    object
 32  TBM1            100 non-null    float64
 33  TBM2            100 non-null    float64
 34  TBM3            100 non-null    float64
 35  XL1             100 non-null    object
 36  XL2             100 non-null    object
 37  XL3             100 non-null    object
 38  US_TBM1         100 non-null    float64
 39  US_TBM2         100 non-null    float64
 40  US_TBM3         100 non-null    float64
 41  KQXT            100 non-null    object
dtypes: float64(34), int64(1), object(7)
memory usage: 32.9+ KB

In [3]:
def Q1(g):
  return np.percentile(g,25)

In [4]:
def Q2(g):
  return np.percentile(g,50)

In [5]:
def Q3(g):
  return np.percentile(g,75)

In [6]:
pivot = pd.pivot_table(df[['DIEM THI MON 1' , 'KHOI THI']], values=['DIEM THI MON 1'], columns=['KHOI THI'], aggfunc=[pd.Series.count ,sum , np.mean ,np.median, min, max, np.std,Q1,Q2,Q3])
pivot

               count                        ...    Q3
KHOI THI           A   A1    B     C    D1  ...     A    A1     B      C     D1
DIEM THI MON 1  49.0  6.0  9.0  14.0  22.0  ...  4.25  3.25  3.75  6.375  4.875

[1 rows x 50 columns]

In [7]:
pivot = pd.pivot_table(df[['DIEM THI MON 1' , 'KHOI THI','KHU VUC THI']], values=['DIEM THI MON 1'], columns=['KHOI THI','KHU VUC THI'], aggfunc=[pd.Series.count ,sum , np.mean ,np.median, min, max, np.std,Q1,Q2,Q3])
pivot

               count                       ...     Q3
KHOI THI           A              A1       ...      C            D1
KHU VUC THI        1    2   2NT    1  2NT  ...      2     2NT     1    2   2NT
DIEM THI MON 1  29.0  9.0  11.0  2.0  4.0  ...  6.125  6.8125  4.25  5.0  3.75

[1 rows x 128 columns]

In [8]:
pivot = pd.pivot_table(df[['DIEM THI MON 1' , 'KHOI THI','KHU VUC THI','DAN TOC']], values=['DIEM THI MON 1'], columns=['KHOI THI','KHU VUC THI','DAN TOC'], aggfunc=[pd.Series.count ,sum , np.mean ,np.median, min, max, np.std,Q1,Q2,Q3])
pivot

               count             sum       ...   Q2          Q3
KHOI THI           A   D1          A   D1  ...   D1           A   D1
KHU VUC THI        2    1    2     2    1  ...    1     2     2    1     2
DAN TOC          6.0  1.0  1.0   6.0  1.0  ...  1.0   1.0   6.0  1.0   1.0
DIEM THI MON 1   1.0  1.0  1.0  4.25  3.0  ...  3.0  1.25  4.25  3.0  1.25

[1 rows x 27 columns]

In [9]:
Tan_suat_GT=df['GIOI TINH'].value_counts()
print(Tan_suat_GT)

M    52
F    48
Name: GIOI TINH, dtype: int64

In [10]:
freq_cum_GT = Tan_suat_GT.cumsum()
freq_cum_GT

M     52
F    100
Name: GIOI TINH, dtype: int64

In [11]:
percentage_sum_GT = 100 * (Tan_suat_GT/Tan_suat_GT.sum())
percentage_sum_GT

M    52.0
F    48.0
Name: GIOI TINH, dtype: float64